<Layouts.flash_group flash={@flash} />

<h1>Blog Fetcher</h1>

<.form :let={f} for={%{}} action={~p"/fetch"} method="post">
  <.input field={f[:id]} type="number" name="id" label="Blog ID" />
  <button>Fetch Blogs</button>
</.form>
